<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
/* Default style of an SVG element (area) - the style when the SVG/page just loads*/
.classRaahDefaultMain {
  display:inline;
  fill:#ffe680;
  fill-opacity:0.2;
  stroke:#000000;
  stroke-width:0.1;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:0.4
}
/* Default Hover style of an SVG element (area) - the style when the SVG/page just loads*/
.classRaahDefaultMain:hover {
  fill-opacity:0.4;
}
/* style of an SVG element (area) when the element is clicked (selected) */
.classRaahSelectedMain {
  display:inline;
  fill:#0000ff;
  fill-opacity:0.2;
  stroke:#ff000f;
  stroke-width:0.3;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1
}
/* Hover style of an SVG element (area) when the element is clicked (selected) */
.classRaahSelectedMain:hover {
  fill-opacity:0.1;
}
.classButtonGoDefaultMain {
  opacity:0.4;
  fill:#ff6600a5;
  fill-opacity:1;
  fill-rule:nonzero;
  stroke:#000000;
  stroke-width:0.18491936;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
  paint-order:stroke markers fill;
  cursor: pointer
}
.classButtonGoDefaultMain:hover {
  opacity:0.6;
}
</style>
</head>
<body>

</body>
</html>